{% extends "base.html" %}
{% block title %}Liste des projets {{ client.nom }}{% endblock title %}
{% block nav-rapport %}<li class="dropdown active">{% endblock nav-rapport %}
{% block content %}
    <div class="row-fluid">
        <div class="span8 offset2">
            <div class="well">
                <div class="pull-left">
                    <br />
                    <h4>Techno-Pro Experts Inc.</h4>
                    <h4>Liste des projets</h4>
                    <h3>{{ client.nom }}</h3>
                    <br />
                </div>
                <div class="pull-right text-right">
                    <img width="160" src="{{ STATIC_URL }}img/logo_tpe.png"><br /><br />
                    <a class='btn btn-primary' href="{% url 'print_client_details_tpe' client.id %}">Imprimer</a>
				    <a class='btn btn-primary' href="{% url 'xls_client_details_tpe' client.id %}">.xls</a>
				 </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Numéros</th>
                            <th>Noms</th>
                            <th>Budget MAT</th>
                            <th>Budget MO</th>
                            <th>Temps</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in liste_projets %}
                        <tr>
                            <td><a href="{% url 'projet_details_tpe' p.projet.numero %}">{{ p.projet.numero }}</a></td>
                            <td><a href="{% url 'liste_projets_noms_tpe' p.projet.nom %}">{{ p.projet.nom }}</a></td>
                            <td>{{ p.projet.budget_mat }}</td>
                            <td>{{ p.projet.budget_mo }}</td>
                            <td style="text-align: right;">{{ p.heures.total }} H</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right">
                    <a class='btn btn-primary' href="{% url 'print_client_details_tpe' client.id %}">Imprimer</a>
                    <a class='btn btn-primary' href="{% url 'xls_client_details_tpe' client.id %}">.xls</a>
                </div>
                <br />
	        </div>
        </div>
    </div>
{% endblock %}