{% extends "base.html" %}
{% block title %}Rapport de temps des tâches TPE{% endblock title %}
{% block nav-rapport %}<li class="dropdown active">{% endblock nav-rapport %}
{% block content %}	
    <div class="row-fluid">
        <div class="span6 offset3">
            <div class="well">
                <div class="pull-left">
                    <br /><br />
                    <h4>Techno-Pro Experts Inc.</h4>
		            <h4>Rapport de temps de chacune des tâches</h4>
                    <br /><br />
                </div>
                <div class="pull-right text-right">
                    <img width="160" src="{{ STATIC_URL }}img/logo_tpe.png"><br /><br />
                    <a class='btn btn-primary' href="{% url 'print_liste_taches_tpe' %}">Imprimer</a>
					<a class='btn btn-primary' href="{% url 'xls_liste_taches_tpe' %}">.xls</a>
                </div>
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Tâche</th>
                            <th>Temps</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="text-align: right;background-color: lightgray">Total:</th>
                            <th style="text-align: right;background-color: lightgray">{{total.heures|default_if_none:"0.00"}} H</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for tache in taches %}
                        <tr>
                        <td>{% if tache.heure %}<a href="{% url 'tache_details_tpe' tache.numero %}">{{tache.numero}} {{tache.description}}</a>{% else %}{{tache.numero}} {{tache.description}}{% endif %}</td>
                        <td style="text-align: right;">{{tache.heure|default_if_none:"0.00"}} H</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right">
                    <a class='btn btn-primary' href="{% url 'print_liste_taches_tpe' %}">Imprimer</a>
                    <a class='btn btn-primary' href="{% url 'xls_liste_taches_tpe' %}">.xls</a>
                </div>
	        </div>
        </div>
    </div>
{% endblock %}