{% extends "base.html" %}
{% load humanize %}
{% block title %}Liste des projets {{ nom_projet }} {{ modele_projet }}{% endblock title %}
{% block nav-rapport %}<li class="dropdown active">{% endblock nav-rapport %}
{% block content %}
    <div class="row-fluid">
        <div class="span6 offset3">
            <div class="well">
                <div class="pull-left">
                    <h4>EuGénie Canada Inc.</h4>
                    <h4>Liste des projets</h4>
                    <h3>{{ nom_projet }} {{ modele_projet }}</h3>
                </div>
                <div class="pull-right text-right">
                    <img width="200" src="{{ STATIC_URL }}img/logo_eugenie.png"><br />
                    <a class='btn btn-primary' href="{% url 'print_liste_projets_modeles_eci' nom_projet modele_projet %}">Imprimer</a>
                    <a class='btn btn-primary' href="{% url 'xls_liste_projets_modeles_eci' nom_projet modele_projet %}">.xls</a>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Projets</th>
                            <th>Tâches</th>
                            <th><div class="text-right">Temps</div></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td></td>
                            <th><div class="text-right">Moyenne :</div></th>
                            <th><div class="text-right">{{moyenne|floatformat:2|intcomma}} H</div></th>
                        </tr>
                        <tr>
                            <td></td>
                            <th><div class="text-right">Total :</div></th>
                            <th><div class="text-right">{{projets_total.heures|floatformat:2|intcomma}} H</div></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for projet in projets %}
                            <tr>
                                <td rowspan='{{projet.liste_taches|length}}'><a href="{% url 'projet_details_eci' projet.numero %}">{{projet.numero}}</a></td>
                                {% for tache in projet.liste_taches %}
                                    <td><a href="{% url 'tache_details_eci' tache.numero %}">{{ tache.numero }} {{ tache.description }}</a></td>
                                    <td><div class="text-right">{{ tache.heure|floatformat:2|intcomma }} H</div></td>
                            </tr>
                            <tr>
                                    {% if forloop.last %}
                                        <td style="background-color: lightgray"></td>
                                        <th style="background-color: lightgray"><div class="text-right">Total {{ projet.numero }} :</div></th>
                                        <th style="background-color: lightgray"><div class="text-right">{{ projet.heure|floatformat:2|intcomma }} H</div></th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right">
                    <a class='btn btn-primary' href="{% url 'print_liste_projets_modeles_eci' nom_projet modele_projet %}">Imprimer</a>
                    <a class='btn btn-primary' href="{% url 'xls_liste_projets_modeles_eci' nom_projet modele_projet %}">.xls</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}