{% extends "base.html" %}
{% block title %}Liste des projets par client{% endblock title %}
{% block nav-rapport %}<li class="dropdown active">{% endblock nav-rapport %}
{% block content %}
    <div class="row-fluid">
	    <div class="span6 offset3">
            <div class="well">
                <div class="pull-left">
                    <h4>EuGénie Canada Inc.</h4>
                    <h4>Liste des projets par client</h4>
                    <br /><br />
                </div>
                <div class="pull-right text-right">
                    <img width="200" src="{{ STATIC_URL }}img/logo_eugenie.png"><br />
                    <a class='btn btn-primary' href="{% url 'print_liste_clients_eci' %}">Imprimer</a>
                    <a class='btn btn-primary' href="{% url 'xls_liste_clients_eci' %}">.xls</a>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Clients</th>
                            <th>Numéros</th>
                            <th>Noms</th>
                            <th>Modèles</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for clients in liste_clients %}
                        <tr>
                            <td rowspan='{{clients.liste_projets|length}}'><a href="{% url 'client_details_eci' clients.id %}">{{clients.nom}}</a></td>
                            {% for projets in clients.liste_projets %}
                                <td><a href="{% url 'projet_details_eci' projets.numero %}">{{ projets.numero }}</a></td>
                                <td><a href="{% url 'liste_projets_noms_eci' projets.nom %}">{{ projets.nom }}</a></td>
                                <td><a href="{% url 'liste_projets_modeles_eci' projets.nom projets.modele %}">{{ projets.modele }}</a></td>
                                </tr>
                                <tr>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right">
                    <a class='btn btn-primary' href="{% url 'print_liste_clients_eci' %}">Imprimer</a>
                    <a class='btn btn-primary' href="{% url 'xls_liste_clients_eci' %}">.xls</a>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
{% endblock %}