{% extends "print_base.html" %}
{% block title %}Rapports{% endblock title %}
{% block content %}
		<h4>Techno-Pro Experts Inc.</h4>
		<h3>Rapport de temps de chaque employé</h3>
				<h4>Employés actif</h4>
				{% if total_actif.heures > 0 %}
				<table class="table table-striped table-bordered table-condensed">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Date d'embauche</th>
							<th>Temps (H)</th>
							<th>Banque d'heure</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td></td><th>Total:</th><th>{{total_actif.heures}}</th><th>{{total_actif.banque}}</th>
						</tr>
					</tfoot>
					<tbody>
				{% for employe in employes_actif %}
					{% if employe.heure %}
					<tr>
					<td>{{employe.user.first_name}} {{employe.user.last_name}}</td>
					<td>{{employe.hire_date}}</td>
					<td>{{employe.heure}}</td>
					<td>{{employe.banque_heure}}</td>
					</tr>
					{% endif %}
				{% endfor %}
				</tbody>
				</table>
				{% else %}
				<p>Il n'y a aucune heure travaillé</p>
				{% endif %}
				<h4>Employés inactif</h4>
				{% if total_inactif.heures > 0 %}
				<table class="table table-striped table-bordered table-condensed">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Date d'embauche</th>
							<th>Temps (H)</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td></td><th>Total:</th><th>{{total_inactif.heures}}</th>
						</tr>
					</tfoot>
					<tbody>
				{% for employe in employes_inactif %}
					{% if employe.heure %}
					<tr>
					<td>{{employe.user.first_name}} {{employe.user.last_name}}</a></td>
					<td>{{employe.hire_date}}</td>
					<td>{{employe.heure}}</td>
					</tr>
					{% endif %}
				{% endfor %}
				</tbody>
				</table>
				{% else %}
				<p>Il n'y a aucune heure travaillé</p>
				{% endif %}
{% endblock %}