{% extends "print_base.html" %}
{% load humanize %}
{% block title %}Rapports{% endblock title %}
{% block content %}
		<h4>EuGénie Canada Inc.</h4>
		<h4>Liste des projets</h4>
		<h3>{{ client.nom }}</h3>
		<h3></h3>
		<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Numéros</th>
				<th>Noms</th>
				<th>Modèles</th>
				<th>Budget MAT</th>
				<th>Budget MO</th>
				<th>Temps (H)</th>
			</tr>
		</thead>
		<tbody>
		{% for p in liste_projets %}
			<tr>
				<td>{{ p.projet.numero }}</td>
				<td>{{ p.projet.nom }}</td>
				<td>{{ p.projet.modele }}</td>
                <td>{{ p.projet.budget_mat|default_if_none:"0.00"|floatformat:2|intcomma }} $</td>
                <td>{{ p.projet.budget_mo|default_if_none:"0.00"|floatformat:2|intcomma }} H</td>
                <td>{{ p.heures.total|default_if_none:"0.00"|floatformat:2|intcomma }} H</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
{% endblock %}