{% extends "print_base.html" %}
{% block title %}Rapports{% endblock title %}
{% block content %}
		<h4>Techno-Pro Experts Inc.</h4>
		<h4>Liste des projets</h4>
		<h3>{{ nom_projet }}</h3>
		<table class="table table-bordered table-striped">
		<thead>
			
			<tr>
				<th>Numéros</th>
				<th>Temps</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Total:</th><th>{{projets_total.heures}}</th>
			</tr>

		</tfoot>
		<tbody>
		{% for projet in projets %}
			<tr>
				<td>{{ projet.numero }}</td>
				<td>{{ projet.heure|default_if_none:"0.00" }}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
{% endblock %}