{% extends "base.html" %}
{% block title %}Rapports de temps des tâches du projet{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" href="{{STATIC_URL}}css\datepicker.css" />
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
{% endblock extrahead %}
{% block jquery %}
    $( "#datepicker1" ).datepicker({format: 'yyyy-mm-dd', autoclose: true});
    $( "#datepicker2" ).datepicker({format: 'yyyy-mm-dd', autoclose: true});
{% endblock jquery %}
{% block nav-rapport %}<li class="dropdown active">{% endblock nav-rapport %}
{% block content %}
    <div class="row-fluid">
        <div class="span6 offset3">
            <div class="well">
                <div class="pull-left">
                    <br />
                    <h4>Techno-Pro Experts Inc.</h4>
                    <h4>Rapport de temps des tâches du projet</h4>
                    <h3>{{ numero_projet }}</h3><br />
                </div>
                <div class="pull-right text-right">
                    <img width="160" src="{{ STATIC_URL }}img/logo_tpe.png"><br /><br />
                    <a class='btn btn-primary' href="{% url 'rapport_complet_tpe' numero_projet %}">Rapport complet</a>
                    <a class='btn btn-primary' href="{% url 'print_projet_details_eci' numero_projet %}">Imprimer</a>
                    <a class='btn btn-primary' href="{% url 'xls_projet_details_eci' numero_projet %}">.xls</a>
                </div>
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Tâche</th>
                            <th>Détails</th>
                            <th>Temps</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td style="text-align: right;background-color: lightgray"></td>
                            <th style="text-align: right;background-color: lightgray">Total:</th>
                            <th style="text-align: right;background-color: lightgray">{{projet_total.heures}} H</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for tache in taches %}
                        <tr>
                            <td><a href="{% url 'tache_details_tpe' tache.numero %}">{{tache.numero}} {{tache.description}}</a></td>
                            <td><a href="{% url 'projet_tache_details_tpe' numero_projet tache.numero %}"><i class="icon-user"></i></a></td>
                            <td style="text-align: right">{{tache.heure}} H</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pull-left">
                    <form class="form-inline" action="" method="post">
                        {% csrf_token %}
                        <h5>Affichez les blocs de temps de l'intervalle suivant:</h5>
                        <p>
                            <label for="datepicker1">Date début:</label>
                            <input class="input-small" id="datepicker1" type="text" name="date_debut" />
                            <label for="datepicker2"> Date fin:</label>
                            <input class="input-small" type="text" name="date_fin" id="datepicker2" value="{{ date }}" />
                            <input class="btn btn-primary" type="submit" value="Rechercher" />
                        </p>
                        {% if form.errors %}
                            <h5 class="text-error">Vous n'avez pas remplie les champs correctement</h5>
                        {% endif %}
                    </form>
                </div>
                <div class="pull-right">
                    <a class='btn btn-primary' href="{% url 'print_projet_details_tpe' numero_projet %}">Imprimer</a>
                    <a class='btn btn-primary' href="{% url 'xls_projet_details_tpe' numero_projet %}">.xls</a>
                </div>
                <br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
{% endblock %}