{% extends "base.html" %}
{% block title %}Rapports de temps de la tâche{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" href="{{STATIC_URL}}css\datepicker.css" />
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
{% endblock extrahead %}
{% block jquery %}
    $( "#datepicker1" ).datepicker({format: 'yyyy-mm-dd', autoclose: true});
    $( "#datepicker2" ).datepicker({format: 'yyyy-mm-dd', autoclose: true});
{% endblock jquery %}
{% block nav-rapport %}<li class="dropdown active">{% endblock nav-rapport %}
{% block content %}	
    <div class="row-fluid">
        <div class="span6 offset3">
            <div class="well">
                <div class="pull-left">
                    <br />
                    <h4>Techno-Pro Experts Inc.</h4>
                    <h4>Rapport de temps de la tâche</h4>
                    <h3>{{ tache }}</h3>
                    <br />
                </div>
                <div class="pull-right text-right">
                    <img width="160" src="{{ STATIC_URL }}img/logo_tpe.png"><br /><br />
                    <a class='btn btn-primary' href="{% url 'print_tache_details_tpe' tache.numero %}">Imprimer</a>
                    <a class='btn btn-primary' href="{% url 'xls_tache_details_tpe' tache.numero %}">.xls</a>
                </div>
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Numéro du projet</th>
                            <th>Machine</th>
                            <th>Détails</th>
                            <th>Temps (Heures)</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td style="text-align: right;background-color: lightgray" colspan='2'></td>
                            <th style="text-align: right;background-color: lightgray">Total:</th>
                            <th style="text-align: right;background-color: lightgray">{{tache_total.heures}} H</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for projet in projets %}
                            <tr>
                                <td><a href="{% url 'projet_details_tpe' projet.numero %}">{{projet.numero}}</a></td>
                                <td><a href="{% url 'liste_projets_noms_tpe' projet.nom %}">{{projet.nom}}</a></td>
                                <td><a href="{% url 'projet_tache_details_tpe' projet.numero tache.numero %}"><i class="icon-user"></i></a></td>
                                <td style="text-align: right;">{{projet.heure}} H</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
	            <div class="pull-left">
                    <form class="form-inline" action="" method="post">
                        {% csrf_token %}
                        <h5>Affichez les blocs de temps de l'intervalle suivant:</h5>
                        <p>
                            <label for="datepicker1">Date début:</label>
                            <input class="input-small" id="datepicker1" type="text" name="date_debut" />
                            <label for="datepicker2"> Date fin:</label>
                            <input class="input-small" type="text" name="date_fin" id="datepicker2" value="{{ date }}" />
                            <input class="btn btn-primary" type="submit" value="Rechercher" />
                        </p>
                        {% if form.errors %}
                            <h5 class="text-error">Vous n'avez pas remplie les champs correctement</h5>
                        {% endif %}
                    </form>
                </div>
                <div class="pull-right">
                    <a class='btn btn-primary' href="{% url 'print_tache_details_tpe' tache.numero %}">Imprimer</a>
                    <a class='btn btn-primary' href="{% url 'xls_tache_details_tpe' tache.numero %}">.xls</a>
                </div>
                <br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
{% endblock %}