{% extends "base.html" %}
{% block title %}GPAO{% endblock title %}
{% block extrahead %}
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}TableFilter/tablefilter.js"></script>
{% endblock extrahead %}
{% block nav-gpao %}<li class="dropdown active">{% endblock nav-gpao %}
{% block content %}
    <div class="row-fluid">
        <div class="span8 offset2">
            <div class="well">
                <h4>GPAO</h4>
                <h4>LISTE DES PIÈCES</h4>
                <table id="table1" class="filterable table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Référence & Révision</th>
                            <th>Désignation</th>
                            <th>Réf. commerciale</th>
                            <th>Réf. mécanique</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for piece in liste_piece %}
                            {% ifchanged piece.famille %}
                                <tr>
                                    <th style="background-color: lightgray" colspan="4"><a href="{% url 'famille_piece' piece.famille.reference %}">{{ piece.famille }}</a></th>
                                </tr>
                            {% endifchanged %}
                            <tr>
                                <td><a href="{% url 'details_piece' piece.reference %}">{{piece.reference}}</a> <a href="{{ piece.plan.url }}">(Plan de déf.)</a></td>
                                <td>{{piece.designation}}</td>
                                <td>{{piece.ref_commercial}}</td>
                                <td>{{piece.ref_mecanique}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}